<div class="filters">
    <select id="filter-genre">
        <option value="">Seleziona un genere</option>
        <option value="Action">Azione</option>
        <option value="Drama">Drammatico</option>
        <option value="Comedy">Commedia</option>
    </select>

    <select id="filter-year">
        <option value="">Seleziona un anno</option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
    </select>

    <select id="filter-rating">
        <option value="">Seleziona il rating</option>
        <option value="5">5★</option>
        <option value="4">4★</option>
        <option value="3">3★</option>
    </select>

    <button id="apply-filters">Applica filtri</button>
</div>

<script src="../utils/filters.js"></script>
